<div>
    <h1><%= title %></h1>

    <ol>
    <% if(list.length){ %>
        <% for(var v, i=0, l=list.length; i<l; i++){ v = list[i]; %>
        <li><%= v %></li>
        <% } %>
    <% }else{ %>
        <li>Пустой список (не будет показан).</li>
    <% } %>
    </ol>

    <h2>Дискография: <%= hash.firstName %> <%= hash.lastName %> <%= hash.age ? '('+hash.age+')' : '' %></h2>

    <ul>
        <% for(var v, i=0, l=objList.length; i<l; i++){ v = objList[i]; %>
        <li><%= v.year %> &mdash; <%= v.album %></li>
        <% } %>
    </ul>
</div>